/* 
    Created on : Jul 18, 2016, 12:01:05 PM
    Author     : Eman Khalifa
*/

/*global variables*/

$mainblue:#003399;
$backgroundGrey:#eee;
$orange:#FF9933;
$bluishGrey:#99CCCC;

p,h2{
    margin: 0;
}
body{
    width: 60%;
    margin: 20px auto 0;
    font-family: sans-serif;

}
header{
    font-size: 1.4em;
    padding: 20px;
    background-color: $mainblue;

    div:first-of-type{
        float: left;
        span#title{
            padding-left: 10px;
            text-transform: capitalize;
        }
    }
    div:last-of-type{
        float: right;
        a{
            cursor: pointer;
        }
    }
}

header span{
    color: #fff;
}

div[ng-view]{
    height: 600px;
    background-color: $backgroundGrey;
    padding: 20px 10px;
}

