/* 
    Created on : Jul 18, 2016, 12:01:05 PM
    Author     : Eman Khalifa
*/
/*includes*/

@import'../bower_components/angular-material/angular-material.scss';
/*global variables*/

$mainblue:#244366;
$backgroundGrey:#fafafa;
$lightsimon: #FFADA6;
$darksimon: #D28169;
$bluishGrey:#99CCCC;
$darkbabyblue: #A6D0FF;
$green: #00D334;

p,h2{
    margin: 0;
}
body{
    width: 60% !important;
    margin: 20px auto 0;
    font-family: sans-serif;
    position: relative !important;
    top: 0 !important;
}


header{
    font-size: 1.4em;
    padding: 20px;
    background-color: $mainblue;

    div:first-of-type{
        float: left;
        span#title{
            padding-left: 10px;
            text-transform: capitalize;
        }
    }
    div:last-of-type{
        float: right;
        a{
            cursor: pointer;
        }
    }
}

header span{
    color: #fff;
}

section{
    background-color: $backgroundGrey;
    padding: 20px 0;
}

/*rules for newEdit page*/
section#newEdit{
    height: 680px;
    div.insert-partition{
        width: 45%;
        margin: 20px auto 0;
        background-color: #fff;
        padding: 20px 0;
        box-shadow: 0 0 10px #ccc;
        height: 65px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        h2{
            color: $bluishGrey;
            text-align: center;
            font-size: 22px;
        }
        span{
            display: block;
            margin: 5px 0 10;
            text-align: center;
            color: #ccc;      
        }
        input{
            color: $mainblue;
            display: block;
            margin: 0 auto;
            border: none;
            border-bottom: 1px solid $bluishGrey;
            background-color: #fff;
            padding:15px 0;
            &:first-of-type:not(.md-datepicker-input){
                margin-top: 10px;
            }
            &:focus{
                outline:none;
            }
            &:not(.md-datepicker-input){
                width: 312px;
            }
        }
        a{
            cursor: pointer;
            display:block;
            height: 50px;
            width: 50px;
            background-color: $green;
            border-radius: 100%;
            margin: 5px auto;
            -webkit-box-shadow: 0 0 8px #ccc;
            -moz-box-shadow: 0 0 8px #ccc;
            -o-box-shadow: 0 0 8px #ccc;
            box-shadow: 0 0 8px #ccc;
            text-decoration:none;

            span{
                color: #fff;
                font-size: 25px;
                line-height: 46px

            }
        }

    }
    div.insert-partition:not(:first-of-type){
        input{
            margin-top: 120px !important;
            margin-bottom: 120px !important;
        }

    }
}

/*rules for buttons section*/
section.buttons{
    background-color: $backgroundGrey;
    div{
        a{
            display:block;
            height: 50px;
            width: 50px;
            background-color: $darksimon;
            border-radius: 100%;
            margin: 5px 10px;
            -webkit-box-shadow: 0 0 8px #ccc;
            -moz-box-shadow: 0 0 8px #ccc;
            -o-box-shadow: 0 0 8px #ccc;
            box-shadow: 0 0 8px #ccc;
            text-decoration:none;
            &#backBtn{

                float: left;
                span{
                    margin-left: -5px;
                }
            }
            &#pencil{
                float: right;
            }
            span{
                color: #fff;
                font-size: 25px;
                line-height: 46px;
                display: block;
                text-align: center;

            }
        }
    }
}

/*rules for homepage*/
section#homepage{
    height: 680px;
    div.filter{
        width: 95%;
        margin: 0 auto;
        box-shadow: 0 0 10px #ccc;
        background-color: #fff;
        padding: 20px;
        h2{
            font-size: 19px;
            color: $mainblue;
            padding: 0 0 20px 0;
        }

        input[value]{
            
            display: block;
            float: left;
            width: 30%;
            padding:5px;
            box-sizing: border-box;
            margin: 5px 15px 5px 0;    
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom:1px solid $bluishGrey;
            
            &:focus{
                outline: none;
            }
        }
        div.datepickerdemoBasicUsage{
            width: 30%;
            float: left;
            margin: 5px 15px 5px 0;
            button{
                padding-top: 0;
                padding-bottom: 0;
                height: 36px;
            }
        }
    }

    div.table{
        z-index: 5;
        width: 95%;
        margin: 20px auto 10px;
        box-shadow: 0 0 10px #ccc;
        background-color: #fff;
        padding: 20px;
        h2{
            font-size: 19px;
            color: $mainblue;
            padding: 0 0 20px 0;
        }
        div{
            background-color: $darksimon;
            width:100%;
            padding: 10px;
            margin-bottom: 20px;
            span#selectedItems{
                color:#FFF;
                font-size: 16px;
            }
            a{
                display: block;
                float:right;
                color:#fff;
                font-size: 16px;
                padding-left: 10px;
                cursor: pointer;
            }
        }
        table{
            width:100%;
            tr:first-of-type{
                td{
                    color:$darksimon;
                    font-weight: 600;
                }
            }
            tr{
                td{
                    padding: 10px 0;
                    border-bottom: 1px solid #ccc;
                    width: 20%;
                    text-transform: capitalize;
                }
            }
        }
    }
}


/*datepicker rules*/
.datepickerdemoBasicUsage {
    width: 312px;
    margin: 0 auto;
    input{
        width: 60%;
    }
}
.datepickerdemoBasicUsage md-content {
    md-datepicker{
        button.md-datepicker-button.md-icon-button.md-button.md-ink-ripple{
            padding-left: 0;
            margin-left: -7px;
        }
    }
}
.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }
.md-datepicker-input-container{
    border-bottom: none;
}
h2:focus{
    outline: none;
}
.md-datepicker-expand-triangle{
    margin-top: 10px;
}


/*rules for placeholders*/
::-webkit-input-placeholder {
    color: $bluishGrey;
}

:-moz-placeholder { /* Firefox 18- */
    color: $bluishGrey;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $bluishGrey;  
}

:-ms-input-placeholder {  
    color: $bluishGrey;  
}

/*rules to animate table after filters*/

.ng-leave.ng-leave-active,
.ng-enter {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow:hidden;
}

.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  height: 43px;
}