<header ng-controller="headerController">
    <div>
        <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <span id="title">data import - new</span>
    </div>
    <div>
        <a ng-click="refreshPage()"><span class="glyphicon glyphicon-refresh" ></span></a>
    </div>
    <p class="clearfix"></p>
</header>
<section id="newEdit" ng-controller="NewEditController">
    <div ng-animate="'animate'"  class="insert-partition">
        <h2  ng-click="toggle($event)" >General information</h2>
        <span ng-hide="lamp" > {{name}}  {{author}}  {{category}}  {{state}}</span>

            <input type="text" value="name" ng-model="name"  placeholder="Article name"/>
            <input type="text" value="author" ng-model="author" placeholder="Author name"/>
            <input type="text" value="category" ng-model="category" placeholder="Article category"/>
            <input type="text" value="state" ng-model="state" placeholder="Article state"/>
            <div ng-controller="AppCtrl" style="padding: 15px 0;" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="MyApp">
                <md-content>
                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                </md-content>
            </div>
            <a ng-click="newEditRecord()"><span class="glyphicon glyphicon-ok"></span></a>

    </div>
    <div ng-animate="'animate'"  class="insert-partition">
        <h2  ng-click="toggle($event)" >Description</h2>
        <input type="text" value="description" ng-model="Description"  placeholder="Description"/>
        <a><span class="glyphicon glyphicon-ok"></span></a>
    </div>
    <div ng-animate="'animate'"  class="insert-partition">
        <h2  ng-click="toggle($event)" >Additional Information</h2>
        <input type="text" value="Additional Information" ng-model="info"  placeholder="Additional Information"/>
        <a><span class="glyphicon glyphicon-ok"></span></a>
    </div>
    <p class="clearfix"></p>
</section>
<section class="buttons">
    <div>
        <a id="backBtn" href="#/"><span class="glyphicon glyphicon-backward"></span></a>
        <p class="clearfix"></p>
    </div>
</section>